/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* font-family: 'Noto Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

html, body{margin:0;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}

*{
    box-sizing: border-box;
    font-family: 'Noto Serif', 'Nanum Gothic', sans-serif;
}
img{width:100%; vertical-align: top;}
a{
    text-decoration: none;
    color:#555;
}

/* ------ header ------ */
.header{width:100%;}
.header > div{
    width:62.5%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header > div .nav_menu{width:33.3%; text-align:center;}
.header > div .nav_menu a{font-size:1em; padding:0 15px;  transition:.5s;}

.header > div nav:hover a{opacity:0.3;}
.header > div nav a:hover{opacity: 1;}

.header > div h1{
    width:33.3%; 
    font-size:2.5em; margin:20px 0;
    text-align: center;
}

.header > div img{width:30px; height:30px;}
.header > div .ca{
    font-size:1em;
    transition:.5s;
    text-align: left;
}
.header > div .real_s{
    width:33.3%;
    text-align:center;
}
.header > div .real_s .ca:hover{
    font-weight: bold;
    opacity: .8;
}
.header > div .real_s .ca img{vertical-align: middle;}
.header > div .real_s .ca{word-spacing: 10px; font-weight: bold;}


/* ------ banner ------ */
.banner{
    width:100%;
    position:relative;
}
.banner img{}
.banner div{
    position:absolute;
    left:50%; top:50%;
    transform:translate(-50%, -50%);

    text-align:center;
}
.banner div p:nth-of-type(1){color:#fff; font-size:1.5em;}
.banner div p:nth-of-type(2){color:#fff; font-size:3.5em;}

.menu_indi{
    background:#ece4e4;
    border-bottom:1px solid rgb(170, 170, 170);
}
.menu_indi .indi{
    width:62.5%;
    height:5vh;
    margin:0 auto; 
    list-style:none; 
    display:flex;
    align-items: center;
}

.menu_indi .indi li{
    padding:12px 25px; 
    border-right:1px solid rgb(170, 170, 170);
}

.menu_indi .indi li select{
    width:150px;
    font-size:1em;
    padding: 0 10px; 
    margin-left:15px;
    text-align:center;
    border:none;
    outline:none;
    appearance:none;
    background:url(../imgs/menu_indi/arrow.png) 90% no-repeat;
}

.menu_indi .indi li a{font-size:1em;}
.menu_indi .indi li a img{
    width:16px; height:16px;
    margin-top:2px;
}

.title{
    width:100%;
    text-align:center;
    padding:90px 0;
}
.title h2{font-size:2em;}
.title img{width:23px;}
.title p{font-size:1em;}

/* ------ footer ------ */
.footer{
    width:100%;
    background:#f7f7f7; padding:50px 0;
}
.footer p{
    text-align:center; font-size:13px;
    color:#707070;
    white-space:pre-line;
    opacity: .8;
}

/* ------ 버거메뉴 ------ */
.header .burger{display:none;}

.header > div
.sidenav {
    height: 100%;
    width: 0%;
    position:fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
    display:flex;
    justify-content:right;
    flex-direction: column;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }

@media (max-width:480px){
    
    .header .burger{display:block;}
    .header .burger .sidenav a{line-height: 50px;}
    .header nav{display:none;}
    .header article .ca{display:none;}

    .menu_indi{display:none;}

    .banner img{height:7vh;}

    .footer{padding:15px 0;}
    .footer p{font-size:1em;}
}

@media (max-width:1024px){
    .banner div p:nth-of-type(1){color:#fff; font-size:1em;}
    .banner div p:nth-of-type(2){color:#fff; font-size:2.2em;} 
}