@charset "UTF-8";
@import url('common.css');

.main_01{
    width:100%; 
}
.main_01 > ul{
    width:100%;
}
.main_01 ul > li{
    width:62.5%;
    margin:0 auto;
    padding:90px 0;
    transition:.5s;
}

.main_01 > ul li strong{
    font-size:1.5em;
    text-align:center;
    display:block;
    margin-bottom:90px;
}

.main_01 > ul li figure{}

.main_01 > ul li figure div{
    display:flex;
    justify-content: space-between;
    
}
.main_01 > ul li figure div img{
    width:50%;
    padding:0 10px;    
}

.main_01 > ul li figure figcaption{
    padding: 20px 0 0 40px;
    font-size:1em;
}


@media (max-width:480px){
    .header{
        text-align:center;
        width:100%;
    }
    .header nav{display:none;}
    .header article a span{display:none;}
    .header div h1{text-align:center;}

    .title{padding:20px 0;}
    .title_02{margin:20px 0;}

    .main_01{width:100%;}
    .main_01 ul{width:90%; margin:0 auto;}
    .main_01 ul li{width: 100%; padding:20px 0;}
    .main_01 ul li strong{margin-bottom:20px; font-size:2em;}
    .main_01 ul li figure figcaption{padding:0; margin-top:10px;}
    .main_01 ul li figure div{padding:0; height:20vh;}
    .main_01 ul li figure div img{width:49%; padding:0 5px;}
    .main_01 ul li:nth-of-type(4) figure figcaption{margin-bottom:10px;}
    
    body{font-size:0.5em;}
}

@media (max-width:1300px){
    .main_01 ul > li{
        width:80%;
        margin:0 auto;
    }
    .main_01 > ul li figure figcaption{
        font-size:0.9em;
    }
}